/** Variaveis **/
/** Formatação de cores e fontes**/
$background: white;
$color1: #180f4a;
$color2: #ff2978;
$color-text: white;
$font-primaria: 'Lobster', cursive;
$font-secundaria: 'Roboto', sans-serif;